<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="http://customink.com/stylesheets/customink/style_guide/compiled/normalize.css">
  <link rel="stylesheet" href="http://jashkenas.github.com/docco/resources/docco.css">
  <link rel="stylesheet" href="http://dlindahl.github.com/vivisection/lib/stylesheets/compiled/vivisection.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
  <script src="http://dlindahl.github.com/vivisection/lib/javascripts/vivisection.js"></script>
  <script src="http://dlindahl.github.com/vivisection/lib/javascripts/typekit.js"></script>
  <link rel="stylesheet" href="http://dlindahl.github.com/vivisection/lib/stylesheets/typekit.css">
</head>
<body>
<header>
  <section>
    <div id="title">{{ title }}</div>
    <aside><a href="https://github.com/customink/style_guide/blob/master/{{ file }}">{{ file }}</a></aside>
  </section>
  <nav>
    {{#sources?}}
      <a href="#" id="jump-to">
        Jump To &hellip;
      </a>
      <div id="sources">
        {{#sources}}
          <a class="source" href="{{ url }}" data-path="{{ path }}">{{ basename }}</a>
        {{/sources}}
      </div>
    {{/sources?}}
  </nav>
</header>
<div id="container">
  <table cellspacing="0" cellpadding="0">
  <tbody>
    {{#sections}}
    <tr id='section-{{ section_id }}'>
      <td class=docs>
        <div class="pilwrap">
          <a class="pilcrow" href="#section-{{ section_id }}">&#182;</a>
        </div>
        {{{ docs }}}
      </td>
      <td class=code>
        <div class='highlight'><pre>{{{ code }}}</pre></div>
      </td>
    </tr>
    {{/sections}}
  </table>
</div>
<footer>
  This file was generated by <a href="https://github.com/dlindahl/vivisection">Vivisection</a> and <a href="https://github.com/rtomayko/rocco">Rocco</a>.
</footer>
</body>
